:root {
    --primary: #d81e5b70;
    --secondary: #8c38ff;
    --dark: rgba(255, 255, 255, 0.1);
    ;
    --light: #eee;
    --white: rgba(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 16%;
}

.calcolatori {
    width: 100%;
    max-width: 400px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgb(255 255 255 / 45%);
    backdrop-filter: blur(3px);
}

.display {
    padding: 16px;
    text-align: right;
    background-color: var(--dark);
    color: var(--light);
    font-size: 24px;
    font-weight: 300;

}

.display {
    font-size: 20px;
    color: var(--white);
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: var(--white);
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.operatori {
    display: flex;
}

.operatori button {
    flex: 1 1 0%;
    background-color: var(--primary);
    font-weight: 700;
}

.numeri {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark);
}

.numeri button {
    flex: 1 1 33.333%;
    max-width: 33.333%;
    background-color: transparent;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}